body
{
    background-image: url("btc.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Consolas";
    font-size:1.5em;
    color:white;
}

header>img
{
    width: 25%;
    border-radius: 150px;

}

footer
{
    width: 100%;
    border-radius: 150px;
    text-align: center;

}
